* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(19, 25, 58);
}

.App{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}